h1{
    background-color: aqua;
 }
  body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  footer{
    background-color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
    }