h1{
    background-color: aqua;
 }
  body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  footer{
    background-color: black;
    padding: 15px 0;
    text-align: center;
    }